html {
    background-color: #a1a1ff;
}
* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    height: 120px;
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    padding: 0 20px;
}
/* #navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
  } */
nav img{
    position: relative;
    top: -50%;
    display: flex;
    height: 250px;
    width: auto;
    align-items: baseline;
}
nav a {
    text-decoration: none;
    color: #FEF9FF;
    font-size: 25px;
}
nav ul {
    display: flex;
    align-items: last baseline;
    list-style-type: none;
    margin-left:auto;
    gap: 20px;
}
nav li {
    padding: 5px 5px;
    margin: 0px 5px;
    text-align: center;
    width: 170px;
    border: 5px solid #a1a1ff;
    border-bottom: none;
}
nav .current {
    background-color: #a1a1ff;
}
nav a:hover {
    color: #ffcc00;
}
nav .current a:hover {
    color: #1b1475;
}
.current a {
    color: #3E389A;
}
.video-container {
    position: relative;
    height: 800px;
}

.video-container video {
    position: absolute;
    left: 0;
    top: 50px;
    height: 80%; 
    width: 85%;
    object-fit: cover;
    box-shadow: #241c95ce 20px 20px, 
    #4b43dfce 40px 40px, 
    #675fffc3 60px 60px;
}

.video-container .content {
    position: relative;
    padding: 100px 150px 250px 150px;
    z-index: 10;
    color: #fbf9ff;
    max-width: 100%;
}


body {
    color: #fbf9ff;
}
.content {
    padding: 100px 150px 250px 150px;
}
.content h1 {
    font-size: 90px;
    text-decoration: underline;
}

.buy-now {
    width: 150px;
    height: 50px;
    position: relative;
    top: 30px;
    font-size: 20px;
    border-radius: 50px;
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    border: 5px solid #1a137e;
    color: #fbf9ff;
}
.buy-now:hover {
    background-image: linear-gradient(150deg, #675fff, #c89afa);
    border: 5px solid #1a137e;
    color: #1a137e;
    text-decoration: underline;
}

.bottom-content {
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    padding-top: 70px;
    height: 700px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    text-align: center;
    font-size: 20px;
}
.bottom-images {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#cdcaffef;
    padding: 20px 0 50px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.image-one, .image-two, .image-three {
    margin: 15px;
    position: relative;
    left: 4.5%;
    height: 300px;
}
.image-one {
    box-shadow: #241c95ce -10px 10px, 
    #4b43dfce -25px 25px, 
    #675fffc3 -40px 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.image-two {
    box-shadow: #241c95ce 0px 10px, 
    #4b43dfce 0px 25px, 
    #675fffc3 0px 40px;
    border-radius: 30px;
}
.image-three {
    box-shadow: #241c95ce 10px 10px, 
    #4b43dfce 25px 25px, 
    #675fffc3 40px 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
footer {
    background-color: #1a137e;
    height: 150px;
    position: relative;
    padding: 30px 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #FEF9FF;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}
footer p {
    margin: 10px 0 20px 0;
    font-size: 18px;
}
footer a:hover {
    color: #ffcc00;
}
.top {
    text-align: center;
    padding: 100px 0 250px 0;
}
.top h1 {
    font-size: 100px;
}
.top h2 {
    font-size: 40px;
}