html {
    background-color: #a1a1ff;
}
* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    height: 100px;
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    align-items:last baseline;
    padding: 0 20px;
}
nav a {
    text-decoration: none;
    color: #FEF9FF;
    font-size: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-left:auto;
    gap: 20px;
}
nav li {
    padding: 5px 5px;
    margin: 0px 5px;
    text-align: center;
    width: 170px;
    border: 5px solid #a1a1ff;
    border-bottom: none;
}
nav .current {
    background-color: #a1a1ff;
}
.current a {
    color: #3E389A;
}
body {
    color: #fbf9ff;
}
.content {
    padding: 100px 150px 250px 150px;
}
.content h1 {
    font-size: 100px;
    text-decoration: underline;
}

button {
    width: 150px;
    height: 50px;
    position: relative;
    top: 30px;
    font-size: 20px;
    border-radius: 50px;
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    border: 5px solid #1a137e;
    color: #fbf9ff;
}
button:hover {
    background-image: linear-gradient(150deg, #675fff, #c89afa);
    border: 5px solid #1a137e;
    color: #1a137e;
    text-decoration: underline;
}

.bottom-content {
    background-image: linear-gradient(150deg, #4b43df, #241c95);
    padding-top: 100px;
    height: 700px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    text-align: center;
}
footer {
    background-color: #1a137e;
    height: 100px;
    position: relative;
    padding: 30px 20px;
}
footer a {
    text-decoration: none;
    color: #FEF9FF;
}

.top {
    text-align: center;
    padding: 100px 0 250px 0;
}
.top h1 {
    font-size: 100px;
}
.top h2 {
    font-size: 40px;
}