.tote-bag {
    height: 300px;
}
.pin {
    height: 300px;
    width: auto;
}
.notebook {
    height: 300px;
}
.merch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px;
}
.merch-container h3 {
    color: #241c95;
    font-size: 30px;
}
.item-one, .item-two, .item-three {
    margin: 30px;
}
.tote-bag, .pin, .notebook {
    margin: 0 0 50px;
}
.tote-bag {
    box-shadow: #2f0b6ece -10px 10px, 
    #3f11b5ce -25px 25px, 
    #ae7ef1c3 -40px 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.pin {
    box-shadow: #2f0b6ece 0px 10px, 
    #3f11b5ce 0px 25px, 
    #ae7ef1c3 0px 40px;
    border-radius: 30px;
}
.notebook {
    box-shadow: #2f0b6ece 10px 10px, 
    #3f11b5ce 25px 25px, 
    #ae7ef1c3 40px 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* 
box-shadow: #2f0b6ece 20px 20px, 
    #3f11b5ce 40px 40px, 
    #ae7ef1c3 60px 60px; */