.tote-bag {
    height: 20vw;
}
.pin {
    height: 20vw;
    width: auto;
}
.notebook {
    height: 20vw;
}
.merch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
}
.merch-container h3 {
    color: #241c95;
    font-size: 2.1vw;
}
.item-one, .item-two, .item-three {
    margin: 30px;
}
.tote-bag, .pin, .notebook {
    margin: 0 0 50px;
}
.tote-bag {
    box-shadow: #2f0b6ece -10px 10px, 
    #3f11b5ce -25px 25px, 
    #ae7ef1c3 -40px 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.pin {
    box-shadow: #2f0b6ece 0px 10px, 
    #3f11b5ce 0px 25px, 
    #ae7ef1c3 0px 40px;
    border-radius: 30px;
}
.notebook {
    box-shadow: #2f0b6ece 10px 10px, 
    #3f11b5ce 25px 25px, 
    #ae7ef1c3 40px 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.tickets {
    color: #fbf9ff;
    display: flex;
    justify-content: left; 
    align-items: center; 
    width: 100%; 
    padding: 40px; 
    margin-top: 50px;
    margin-bottom: -30px;
    background-color: #ae7ef1;
}

.tickets h2 {
    font-size: 3vw; 
    margin: 0px 50px 0px 70px;
}

.tickets h4 {
    font-size: 1.2vw; 
    margin: 0 10px 0 100px;
    background-color: #3f11b5;
    padding: 20px;
    color: #fbf9ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}
/* 
box-shadow: #2f0b6ece 20px 20px, 
    #3f11b5ce 40px 40px, 
    #ae7ef1c3 60px 60px; */